[user]
	name = scturtle
	email = scturtle@gmail.com
[alias]
	ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[core]
	excludesfile = ~/.gitignore_global
[url "https://ghproxy.com/https://github"]
	insteadOf = https://github
