[user]
	name = scturtle
	email = scturtle@gmail.com
	signingkey = AF1A9565
[alias]
	ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[commit]
	gpgsign = true
[core]
	excludesfile = /Users/scturtle/.gitignore_global
[http]
	;proxy = socks5://127.0.0.1:1080
[https]
	;proxy = socks5://127.0.0.1:1080
