/fish/.config/fish/*
!/fish/.config/fish/config.fish
/fish_mac/.config/fish/*
!/fish_mac/.config/fish/config.fish
/doom_emacs/.doom.d/custom.el
/fish/.config/fish/conf.d/
/fish/.config/fish/functions/
